// @import '../../style.less';
@import './data.less';
// .reset();
@plugin '../../plugin/log';
@plugin '../../plugin/convert';

// @offset-var-x: 10px;
// @offset-var-y: 15px;
:root {
	font-size: calc(10px + 20 + 10px);
}

.adm {
	.bord{
		font-size: 1rem;
	}
	.class {
		width: toEm(16px);
	}
}

