.clearfix(){
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}


@import './core/_all.less';

@import './background/_all.less';
@import './border/_all.less';
@import './box-shadow/_all.less';
@import './box-sizing/_all.less';
@import './clip/_all.less';
@import './color/_all.less';
@import './content/_all.less';
@import './display/_all.less';
@import './flex/_all.less';
@import './font/_all.less';
@import './letter-spacing/_all.less';
@import './line-height/_all.less';
@import './margin/_all.less';
@import './order/_all.less';
@import './padding/_all.less';
@import './position/_all.less';
@import './pixel-ratio/_all.less';
@import './resize/_all.less';
@import './scroll/_all.less';
@import './text/_all.less';
@import './util/_all.less';
@import './vertical/_all.less';
@import './wh/_all.less';
@import './word/_all.less';

@import './_reset.less';
@import './custom/_all.less';
// @import './_debug.less';

& when (@offset-var = 1) {
	:root {
		--offset: 1em;
		--offset-x: var(--offset);
		--offset-y: var(--offset);
		--offset-l: var(--offset-x);
		--offset-r: var(--offset-x);
		--offset-t: var(--offset-y);
		--offset-b: var(--offset-y);

		--offset-one-side:   calc(var(--offset) / 2);
		--offset-one-side-x: calc(var(--offset-x) / 2);
		--offset-one-side-y: calc(var(--offset-y) / 2);
		--offset-one-side-l: calc(var(--offset-x) / 2);
		--offset-one-side-r: calc(var(--offset-x) / 2);
		--offset-one-side-t: calc(var(--offset-y) / 2);
		--offset-one-side-b: calc(var(--offset-y) / 2);
	}
}
