@false : not;

@maxColumns: 12;

@offset: 30px;
@offset_xt: @offset;
@offset_ti: @offset;
@offset_xs: @offset;
@offset_sm: @offset;
@offset_md: @offset;
@offset_lg: @offset;
@offset_xl: @offset;
@offset_hu: @offset;
@offset_xh: @offset;

@offsetOneSide: (@offset / 2);
@offset_xt_one_side: (@offset_xt / 2);
@offset_ti_one_side: (@offset_ti / 2);
@offset_xs_one_side: (@offset_xs / 2);
@offset_sm_one_side: (@offset_sm / 2);
@offset_md_one_side: (@offset_md / 2);
@offset_lg_one_side: (@offset_lg / 2);
@offset_xl_one_side: (@offset_xl / 2);
@offset_hu_one_side: (@offset_hu / 2);
@offset_xh_one_side: (@offset_xh / 2);

@fields: 30px;
@fields_xt: @fields;
@fields_ti: @fields;
@fields_xs: @fields;
@fields_sm: @fields;
@fields_md: @fields;
@fields_lg: @fields;
@fields_xl: @fields;
@fields_hu: @fields;
@fields_xh: @fields;

// Max container size
@widthWrap: 1680px;

// braekpoint width
@breaks:{
    @xh:1680px;
    @h:1530px;
    @xl:1320px;
    @l:1140px;
    @m:960px;
    @s:720px;
    @xs:540px;
    @t:430px;
    @xt:320px;
}