.container-full(@px:@offsetOneSide, @px_lg:@offset_lg_one_side, @px_md:@offset_md_one_side, @px_sm:@offset_sm_one_side, @px_xs:@offset_xs_one_side){
    .px(@px);
}

.container(@width:@widthWrap){
    .mw(@width);
    .bz(border-box);
    .mx(auto);
    .container-full();
}

.wrp(@width:@widthWrap){
    .bz(border-box);
    position: relative;
    @val: ((@width) / 2);
    @medW:@width + @offset;
    @off:- @offsetOneSide;
    @padding_wrap : @val - (@offsetOneSide);
    .mq(.px(@offsetOneSide),@medW - @offset,.px(calc(50% - @padding_wrap)));
}